@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fffced;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.back-link {
    position: absolute;
    top: 20px;
    left: 5%;
    z-index: 2;
}

.chatbotTitle {
    margin-top: 60px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-left: 5%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1001;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 100px;
    overflow: hidden;
}

.chat-container {
    flex: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    box-sizing: border-box;
    overflow-y: auto;
}

.input-container {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 500px;
    padding: 7px;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 60px;
    border: solid 1px #707070;
}

.chat-input {
    flex: 1;
    padding: 7px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px 0 0 5px;
}

.chat-input:focus {
    outline: none;
}

.send-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.user-message {
    background-color: #e0f7fa;
    align-self: flex-end;
    border-radius: 10px 10px 0 10px;
}

.bot-message {
    background-color: #f1f1f1;
    align-self: flex-start;
    border-radius: 10px 10px 10px 0;
}
