/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .edit-profile-container {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
  }
  
  h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: auto;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .update-btn, .cancel-btn {
    width: 45%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .update-btn {
    background-color: #BAC4FF;
    color: #fff;
  }
  
  .cancel-btn {background-color: #ccc;
    color: #333;
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 600px) {
    .edit-profile-container {
      width: 90%;
      margin: 20px auto;
    }
  
    .update-btn, .cancel-btn {
      width: 100%;
    }
  }