.rating {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Add color styles for different ratings */
.bad {
    background-color: red;
}

.ok {
    background-color: yellow;
}

.good {
    background-color: green;
}

/* Increase the size of circles on hover */
.circle:hover {
    transform: scale(1.1);
}

.selected {
    border-color: #007bff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 20vh 0;
}  

#feedbackForm {
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Adjust max width as needed */
    text-align: center; /* Center align form content */
}

/* Center align the question */
#reasons {
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

/* Center align textarea */
#reason {
    width: 100%; /* Make the textarea full width */
    border-radius: 10px;
}

/* Center align checkbox and label */
input[type="checkbox"] {
    margin-right: 5px; /* Adjust margin as needed */
}
label[for="contact"] {
    display: inline-block; /* Make label inline-block for alignment */
    text-align: left; /* Align label text to the left */
}

/* Additional CSS for increasing the size of the button */
#submitBtn {
    padding: 15px 50px; /* Adjust padding for larger button */
    font-size: 18px; /* Increase font size */
    border-radius: 8px; /* Add rounded corners */
    background-color: #BAC4FF; /* Change button color */
    color: #000; /* Change text color to white */
    border: none; /* Remove border */
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
    width: 78vw; /* Increase button width */
}

#submitBtn:hover {
    background-color: #0056b3; /* Darker color on hover */
}

.header {
    margin-top: 20px; /* Add margin to move the header down */
}

.header a {
    display: inline-block;
    margin-left: 20px; /* Adjust as needed */
}

.header h1 {
    margin-left: 20px; /* Adjust as needed */
}

.container {
    margin-top: -100px; /* Adjust the value as needed */
}

.back-icon {
    height: 26px; /* Adjust size as needed */
    margin-top: 12px;
    margin-left: calc(3.2%)
}
