.rating {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.circle:hover {
    transform: scale(1.1);
}
.selected {
    border-color: #007bff;
}

/* Centering the form content */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically on the viewport */
}

#feedbackForm {
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Adjust max width as needed */
    text-align: center; /* Center align form content */
}

/* Center align the question */
#reasons {
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

/* Center align textarea */
#reason {
    width: 100%; /* Make the textarea full width */
    border-radius: 10px;
}

/* Center align checkbox and label */
input[type="checkbox"] {
    margin-right: 5px; /* Adjust margin as needed */
}
label[for="contact"] {
    display: inline-block; /* Make label inline-block for alignment */
    text-align: left; /* Align label text to the left */
}

/* Additional CSS for increasing the size of the button */
#submitBtn {
    padding: 15px 30px; /* Adjust padding for larger button */
    font-size: 18px; /* Increase font size */
    border-radius: 8px; /* Add rounded corners */
    background-color: #007bff; /* Change button color */
    color: #fff; /* Change text color */
    border: none; /* Remove border */
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}
#submitBtn:hover {
    background-color: #fff; /* Darker color on hover */
}
