body,
.loader-container {
  background-color: #333;
}

.loader {
  border: 8px solid white;
}

.back-icon {
  filter: invert(100%) brightness(100%) sepia(0%) saturate(100%)
    hue-rotate(0deg) contrast(100%);
}

.score2,
.score1 {
  color: black;
}

.profileContainer {
  background-color: #4d4d4d;
}

.name,
.date,
.description,
.title {
    color: white;
}