.pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7px;
}

.bodyContainer {
    margin-bottom: 10vh;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    border: solid 2px #707070;
    border-radius: 20px;
    width: 72%;
    margin: 20px auto;
    min-height: 500px
}

.name {
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.date {
    font-size: 15px;
}

.description {
    font-size: 18px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
}

.title {
    height: 10px;
    font-size: 25px;
    padding-top: 30px;
}

.overview {
    position: relative;
    top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    background-color: #fffced;
    border: solid 2px #707070;
    height: 75px;
    width: 150px;
    border-radius: 13px;
    text-align: center;
    margin: 5px;
}

.big {
    font-size: 25px;
    position: relative;
    bottom: 18px;
}

.small {
    font-size: 12px;
    position: relative;
    bottom: 18px;
}

.svg-image {
    padding-top: 7px;
    padding-right: 90px;
}

.svg-image3 {
    padding-top: 7px;
    padding-right: 90px;
    padding-bottom: 8px;
}

.svg-image2 {
    padding-top: 5px;
    padding-right: 90px;
}

.primaryButton,
.acceptButton {
    background-color: #BAC4FF;
    border: solid 2px #707070;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 16px;
    width: 362px;
    margin: 20px 0;
}

.acceptButton {
    margin-top: calc(-10px);
}

.fill {
    height: 35px;
}

.friendButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
