@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    background-color: #FFFCED;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.app-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #BAC4FF;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.app-bar-left {
    display: flex;
    align-items: center;
}

.app-bar-right {
    display: flex;
    align-items: center;
}

.icon {
    width: 41px;
}

#backArrow {
    margin-top: 5px;
}

#searchIcon {
    margin-left: 20px;
    cursor: pointer;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
}

.search-bar {
    display: none;
    flex-direction: row;
    align-items: center;
}

#searchInput {
    height: 25px;
    width: 70vw;
    border-radius: 8px;
    border: 1px solid #000000;
    padding: 5px;
}

#closeIcon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    right: 30px;
}

.friends-list {
    margin-top: 10px;
    padding: 0 20px;
    margin-bottom: 60px;
}

.friend-item {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.friend-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.friend-name {
    flex-grow: 1;
    font-size: 16px;
    font-size: 20px;
}

.remove-friend-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}