body{
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #fffced;
}

.topIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topIconsRight {
    display: flex;
    gap: 20px;
}

.first{
    position: relative;
    top: 12px;
    padding-right: 10px;
}

.second{
    position: relative;
    top: 17px;
    padding-right: 10px;
}

.third{
    position: relative;
    top: 13px;
    padding-right: 10px;
}

.logo {
    flex: 1;
    padding: 0px;
}

.hello{
    font-size: 40px;
    font-weight: 600;
}

.username{
    font-size: 30px;
    font-weight: 600;
}

.seeAll{
    font-size: 16px;
    font-weight: 600;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.displayStudyYear{
    font-size: 16px;
    position: relative;
    top: 5px;
}

.subjectRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subjectContainer{
    height: 59px;
    width: 59px;
    border-radius: 14px;
    border: solid 2px black;
    background-color: white;
    text-align: center;
}

.aboutUsTitle{
    font-size: 22px;
    font-weight: 600;
}

.aboutUsText{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 30px;
}

.aboutUsImage,
.headerImage {
    margin-left: calc(-1.3vw);
    width: calc(90vw)
}

.aiChatBot {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #E3E5F4;
    color: white;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid black;
}