body {
    background-color: #333;
    color: #fff;
}

p a {
    color: red;
    text-decoration: none;
}

button{
    background-color: #5D74FF;
}

.forgot-password {
    font-size: 14px;
    color: red;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    float: right;
}