@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFCED;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2; /* Ensure it's above other content */
}
.container {
    padding: 20px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin-top: 40px;
    overflow-y: auto;
    height: calc(100vh - 100px);
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-left: 20px;
    font-weight: 600;
}

.leaderboard-container {
    background-color: #E9E9FF;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 200px); /* Adjusted height to allow scrolling */
}

.trophy-icon {
    margin-bottom: 20px;
}

.trophy-icon img {
    width: 100px;
    height: auto;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.tabs button.active {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 32px;
}

.leaderboard {
    background-color: #FFFCED;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
}

.entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.entry:last-child {
    border-bottom: none;
}

.rank {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    width: 20px;
    padding-right: 30px;
}


.circle img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the element and maintains its aspect ratio */
}

.name {
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    color: #000000;
}

.points {
    font-size: 16px;
    color: #666666;
}

.arrow i {
    font-size: 24px;
    color: #000000;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.navbar a {
    display: inline-block;
}

.navbar img {
    width: 30px;
    height: 30px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    position: fixed; /* Fix position so it stays centered */
    width: 100%; /* Full width of the viewport */
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Background overlay */
    z-index: 9999; /* Make sure the loader is on top of other content */
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #514b82;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }

  @keyframes l20-1{
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
    12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
    25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
    50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
    100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
 }
 @keyframes l20-2{ 
   0%    {transform:scaleY(1)  rotate(0deg)}
   49.99%{transform:scaleY(1)  rotate(135deg)}
   50%   {transform:scaleY(-1) rotate(0deg)}
   100%  {transform:scaleY(-1) rotate(-135deg)}
 }


/* Media query for iPhone 14 Pro Max dimensions */
@media only screen and (max-width: 430px) and (max-height: 932px) {
    .icons {
        top: 10px;
    }

    .container {
        margin-top: 60px;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    .go-back i {
        font-size: 24px;
    }

    .trophy-icon img {
        width: 80px;
    }

    .tabs button {
        font-size: 14px;
        padding: 8px;
    }

    .leaderboard-container {
        padding: 15px;
    }

    .entry {
        padding: 8px;
    }

    .rank {
        font-size: 18px;
    }

    .name {
        font-size: 16px;
        padding-left: 8px;
    }

    .points {
        font-size: 14px;
    }

    .arrow i {
        font-size: 20px;
    }

    .navbar img {
        width: 25px;
        height: 25px;
    }
}
