body {
  background-color: #fffced;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bac4ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  box-sizing: border-box;
  height: 70px;
}

.app-bar-items {
  display: flex;
  align-items: center;
}

.close-button {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.notification-container {
  margin-top: 10px;
  padding: 0;
  margin-bottom: 50px;
}

.notification {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 15px;
}

.notification-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 85px);
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.notification-time {
  font-size: 14px;
  color: #888;
}

.notification-text {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}
