@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFCED;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2; /* Ensure it's above other content */
}

.saved-posts-text {
    position: relative;
    top: 19px; /* Adjust this value as needed */
    margin-left: 80px;
    font-size: 25px;
    color: #333;
    font-weight: bold;
}

.savedPosts-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: calc(5vw);
    /* Adjust the width to fit the content properly */
    width: calc(100vw - calc(5%)); /* 100vw - 6vw = 94vw */
    /* Set max-width to prevent it from stretching too wide */
    max-width: 100%;
    height: 100%;
    z-index: 1;
    padding-bottom: 20%;
}

.posts-rectangular-box {
    background-color: #bac4ff;
    width: 84%;
    height: auto;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.posts-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: -10px;
    max-width: 230px;
}

.title-and-username {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-top: -60px;
}

.posts-username {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.posts-text-description {
    font-size: 16px;
    color: #333;
    text-align: left;
    margin: 0;
    overflow: hidden;
    flex-grow: 1;
    margin-bottom: 30px;
}

.vertical-saved-icon {
    position: absolute;
    top: 30px;
    right:30px;
}

.posts-like-icon,
.posts-comment-icon {
    position: absolute;
    bottom: 20px;
}

.posts-like-icon {
    left: 20px;
}

.votes {
    position: absolute;
    bottom: 20px;
    left: 50px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
}

.posts-comment-icon {
    left: 150px;
}

.comments {
    position: absolute;
    bottom: 20px;
    left: 180px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
}

.posts-image,
.download-file {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.vertical-saved-icon.saved,
.savedPosts-like-icon.liked {
    fill: blue;
    stroke: none;
}
