body {
    font-family: Arial, sans-serif;
    background-color: #fffde7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sign-up-form {
    text-align: left;
    max-width: 400px;
    width: 90%;
}

.sign-up-form h1 {
    margin-bottom: 20px;
    font-weight: normal;
    text-align: left;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 2px solid #ddd; 
    border-radius: 25px;
    padding: 10px;
    background-color: #fff; 
}

.input-container .icon {
    margin-right: 10px;
    color: #888;
}

.input-container input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    min-width: 0;
    background-color: #fff; 
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}

.checkbox-container input {
    margin-right: 10px;
    transform: scale(1.8); 
    border: 3px solid #ddd; 
}

button {
    background-color: #b3b3ff;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 20px 20px; 
    font-size: 24px;
    cursor: pointer;
    margin: 0 auto 20px auto; 
    width: 50%; 
    display: block; 
}

button:hover {
    background-color: #a3a3ff;
}

p {
    font-size: 18px;
    text-align: center;
}

p a {
    color: #0000ff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .sign-up-form {
        padding: 15px 20px;
    }

    .input-container {
        flex-direction: row;
        align-items: center;
    }

    .input-container .icon {
        margin-bottom: 0;
    }

    .checkbox-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .checkbox-container input {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .sign-up-form {
        padding: 10px 15px;
    }

    button {
        padding: 20px;
        font-size: 20px;
        width: 70%; 
    }

    p {
        font-size: 16px;
    }
}
