@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFCED;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-bottom: 30px;
}

.header-top {
    font-size: 32px;
    text-align: left;
    display: inline;
    position: relative;
    right: 21.5px;
}

.go-back {
    position: absolute;
    top: 19px;
    left: 20px;
}



.topIcons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.topIcons .timerIcon,
.topIcons .remindersIcon,
.topIcons .notificationsIcon {
  margin-left: 15px;
  width: 32px;
  height: 32px;
}

.profile-icon {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bodyContainer {
    padding: 20px;
    max-width: 500px;
    text-align: center;
    margin-top: 80px;
}

main {
    padding: 16px;
}

.subject, .create-subject {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 8px;
    background-color: #FFFCED;
    width: 100%;
}

.subjects {
    width: 70vw;
}

.subject .icon{
    border: 2px solid #0F0101;
    background-color: #FFFF;
    border-radius: 12px;
    height: 55px;
}

.create-subject .icon{
    border: 2px solid #0F0101;
    background-color: #FFFF;
    border-radius: 12px;
    height: 52px;
}

.subject .icon img, .create-subject .icon img {
    width: 55px;
    height: 55px;
}

.subject .details, .create-subject .details {
    flex-grow: 1;
    margin-left: 16px;
}

.subject .details h2, .create-subject .details h2 {
    font-size: 16px;
}

.subject .details p {
    margin: 0;
    color: #777;
}

.edit {
    text-decoration: none;
    color: #007bff;
    text-align: right;
    font-size: 15px;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    position: relative;
    left: 100px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #514b82;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }
  


