body {
    background-color: #FFFCED;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.body-page {
    padding-bottom: 700px;
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.timer-title {
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-left: 20px;
}

.timer-container {
    position: absolute;
    text-align: center;
    padding-top: 20vh;
    padding-left: 21vw;
}

.cup-container {
    position: relative;
    width: 238px;
    height: 331px;
}

#steam {
    width: 150px;
}

#cup-border {
    width: 100%;
    height: 100%;
}

#cup {
    position: absolute;
    top: 3.5%;
    left: 2.5%;
    width: 95%;
    height: 92%;
}

/* Initially hide the cup-water by clipping it completely */
#cup-water {
    position: absolute;
    z-index: 100;
    fill: #4077BC;
    clip-path: inset(331px 0 0 0); /* Initially fully clipped */
    transition: clip-path 1s linear; /* Smooth transition for clip-path */
    top: 3.5%;
    left: 2.5%;
    width: 95%;
    height: 92%;
}

.steam-container {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 105px;
    margin-top: -120px;
    animation: blink 1s infinite;
    display: none;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.stopwatch {
    font-size: 24px;
    margin: 20px 0;
}

#start-button, #reset-button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    cursor: pointer;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
    background-color: #fff;
    margin-bottom: 10px;
}

.buttons {
    width: 50px;
    display: block;
    padding-left: 43px;
    padding-bottom: 60px;
}
