body {
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    background-color: #fffced;
}

.userAgreementText {
  padding-bottom: 7vh;
}

.back-icon {
  height: 26px; /* Adjust size as needed */
  margin-top: 12px;
  margin-left: calc(3.2%)
}