body,
.loader-container {
    background-color: #333;
}

.loader {
    border: 8px solid white
}

.back-icon {
    filter: invert(100%) brightness(100%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%);
}

.topic-title {
    color: white;
}

.viewPost-coloured-layer {
    background-color: #4D4D4D4D;
}

.create-post-btn {
    background-color: #707070;
    color: white;
    border-color: grey;
}