.topic-title {
    margin-top: 76px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 7px;
}

.viewPosts-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 175px;
    left: 1.5%;
    width: calc(98.6%);
    height: 135vh;
    z-index: 1;
}

.viewPost-coloured-layer {
    background-color: #BAC4FF;
    position: absolute;
    top: 136px;
    left: -21px;
    width: calc(100% + 21px);
    height: 10px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    z-index: 0;
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.back-icon {
    height: 26px;
}

.viewPost-search-container {
    position: relative;
    margin-top: 20px;
}

.viewPost-search-box {
    width: calc(100% - 42px);
    padding: 10px;
    font-size: 18px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none; 
    margin-top: 12.5px;
}

.search-icon {
    position: absolute;
    top: 60%;
    right: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
    cursor: pointer;
}

.create-post-btn {
    position: absolute;
    top: -5px;
    right: 10px;
    background-color: #BAC4FF;
    color: #000;
    border: 2px solid #707070;
    border-radius: 26px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
}

.create-post-btn:hover {
    background-color: #8FA5FF;
}

.posts-image {
    width: 100%; /* Make the image take up the full width of its container */
    height: auto; /* Adjust the height automatically to maintain the aspect ratio */
    display: block; /* Ensure the image behaves like a block element */
    margin: 0 auto; /* Center the image horizontally if needed */
    margin-bottom: 40px;
}